@import "../abstracts/variables";
//
//FOOTER
//

.footer__contact {
    background-color: $green;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include desktop {
        background-color: $green;
        display: flex;
        height: 26.5rem;
        flex-direction: column;
        align-items: flex-start;
    }
}

.footer__logo {
    background-color: #ffff;
    height: 6.5rem;
    width: 25vw;
    position: relative;
    @include desktop {
        background-color: #ffff;
        height: 4.8781rem;
        width: 13.9375rem;
        position: relative;
        margin-top: 3rem;
        margin-left: 6.75rem;
    }
}
.footer__logo-text {
    font-size: 8rem;
    top: -7rem;
    position: relative;
    text-align: center;
    @include desktop {
        font-size: 3.75rem;
        top: -1.5625rem;
        position: relative;
        text-align: center;
    }
}
.footer__content {
    width: 90%;
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 4rem;
    gap: 10vh;
    @include desktop {
        width: 90%;
        margin-top: 2.5625rem;
        margin-left: 6.75rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 1.125rem;
        gap: 0;
    }
}
.contact__title {
    text-align: center;
    @include desktop {
        font-weight: bold;
        margin-bottom: 0.625rem;
        text-align: left;
    }
}
.contact__text {
    margin-bottom: 0.625rem;
    text-align: center;
    @include desktop {
        margin-bottom: 0.625rem;
    }
}
.contact__text--email {
    margin-top: 8;
    margin-bottom: 0.625rem;
}
.contact__links {
    display: flex;
    margin-top: 1.125rem;
    justify-content: space-between;
    gap: 2rem;
    @include desktop {
        display: flex;
        gap: 0.75rem;
        margin-top: 1.125rem;
        justify-content: baseline;
    }
}

.footer-item__link {
    background-color: $gray;
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
    @include desktop {
        background-color: $gray;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0rem;
    }
}

.footer-item__image--facebook {
    border-radius: 50%;
    color: $gray;
    height: 5rem;
    width: 5rem;
    @include desktop {
        border-radius: 50%;
        color: $gray;
        height: 1.1525rem;

        width: 0.5381rem;
    }
}

.footer-item__image--twitter {
    border-radius: 50%;
    color: $gray;
    height: 5rem;
    width: 5rem;
    @include desktop {
        border-radius: 50%;
        color: $gray;
        height: 1.0769rem;
        width: 0.9231rem;
    }
}

.footer-item__image--linkedin {
    color: $gray;
    height: 5rem;
    width: 5rem;
    @include desktop {
        border-radius: 50%;
        color: $gray;
        height: 0.9225rem;
        width: 0.9263rem;
    }
}

.footer-item__image--youtube {
    color: $gray;
    height: 5rem;
    width: 5rem;
    @include desktop {
        border-radius: 50%;
        color: $gray;
        height: 1.2781rem;
        width: 0.8994rem;
    }
}

.footer__legal {
    background-color: $gray;
    color: #ffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3rem;
    gap: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;

    @include desktop {
        background-color: $gray;
        color: #ffff;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-left: 6.75rem;
        margin-bottom: 0rem;
    }
}
.footer__legal-docs {
    background-color: $gray;
    width: 6.625rem;
    display: flex;
    align-items: center;
    justify-content: center;
    @include desktop {
        width: 6.625rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 20rem;
        gap: 2.25rem;
    }
}

.splide__list {
    width: 20vw;
    max-height: 20vh;
    display: flex;
    justify-content: center;
}
.splide__slide {
    background-image: url("../img/Rectangle 14.svg");
    align-self: center;
}
