.newsletter__form {
    width: 43.5rem;
    margin-top: 3.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.25rem;
    background: #fefefe;
    border: 0.0625rem solid #fefefe;
    box-sizing: border-box;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
    border-radius: 0.75rem;
    margin-bottom: 5rem;
}

.newsletter__input {
    width: 43.5rem;
    background-color: transparent;
    border: 0 solid;
    outline: none;
    margin-left: 1.25rem;
}
