@import "../abstracts/variables";
@import "../abstracts/mixins";
//NAVIGATION
//
.navigation {
    background-color: $green;
    height: 15rem;
    width: 100vw;

    @include desktop {
        height: 6rem;
    }
}

.navigation__content {
    width: 100vw;
    height: 10rem;
    display: flex;
    justify-content: space-around;
    @include desktop {
        height: 7rem;
        justify-content: space-between;
        align-items: center;
        // padding-left: 6.75rem;
        // padding-top: 1.875rem;
        // padding-right: 6rem;
    }
}

.navigation__logo {
    background-color: #ffff;
    height: 12rem;
    width: 37em;
    position: relative;
    @include desktop {
        height: 2.625rem;
        width: 6.5rem;
        top: -0.625rem;
        left: 3rem;
    }
}
.navigation__logo-text {
    font-size: 10rem;
    top: -5rem;
    position: relative;
    text-align: center;
    @include desktop {
        font-size: 1.725rem;
        bottom: 0.375rem;
        top: -0.3rem;
        position: relative;
        text-align: center;
    }
}
.hamburger {
    display: block;
    background-color: #ffff;
    height: 9rem;
    font-size: 8rem;
    margin-top: 3rem;
    align-self: center;
    border-style: none;
    @include desktop() {
        display: none;
    }
}
.nav__overlay {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
}

.navigation__links {
    width: 0%;
    height: 100%;
    position: fixed;
    z-index: 2;
    transition: 0.5s;
    opacity: 0%;

    background-color: #ffff;
    @include desktop() {
        display: none;
    }
}
.navigation__curtain {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
    width: 100%;
    text-align: center;
}

.navigation__links-desktop {
    display: none;
    @include desktop() {
        display: block;
        margin-right: 3rem;
    }
}

.nav__item {
    font-size: 7.125rem;
    @include desktop {
        margin-left: 0.75rem;
        margin-right: 0.75rem;
        font-size: 1.125rem;
        color: #000;
        font-weight: bold;
        text-decoration: none;
    }
}
.nav__item:hover {
    color: #ffff;
}

.navigation__button {
    width: fit-content;
    margin-top: 32rem;
    background-color: $green;
    border: none;
    color: #000;
    padding: 0.938rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 4rem;
    font-weight: bold;
    //margin: 0.25rem 0.125rem;
    cursor: pointer;
    @include desktop {
        margin-left: 0.75rem;
        background-color: #ffff;
        border: none;
        color: #000;
        padding: 0.938rem 2rem;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1.125rem;
        font-weight: bold;
        //margin: 0.25rem 0.125rem;
        cursor: pointer;
    }
}
.navigation__button:hover {
    background-color: rgb(179, 255, 179);
}
