.footer__contact {
  background-color: #87de87;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 26.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__logo {
  background-color: #ffff;
  height: 4.8781rem;
  width: 13.9375rem;
  position: relative;
  margin-top: 3rem;
  margin-left: 6.75rem;
}

.footer__logo-text {
  font-size: 3.75rem;
  top: -1.5625rem;
  position: relative;
  text-align: center;
}

.footer__content {
  width: 90%;
  margin-top: 2.5625rem;
  margin-left: 6.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.125rem;
}

.contact__title {
  font-weight: bold;
  margin-bottom: 0.625rem;
}

.contact__text {
  margin-bottom: 0.625rem;
}

.contact__text--email {
  margin-top: 8;
  margin-bottom: 0.625rem;
}

.contact__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.75rem;
  margin-top: 1.125rem;
}

.footer-item__link {
  background-color: #333333;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-item__image--facebook {
  border-radius: 50%;
  color: #333333;
  height: 1.1525rem;
  width: 0.5381rem;
}

.footer-item__image--twitter {
  border-radius: 50%;
  color: #333333;
  height: 1.0769rem;
  width: 0.9231rem;
}

.footer-item__image--linkedin {
  border-radius: 50%;
  color: #333333;
  height: 0.9225rem;
  width: 0.9263rem;
}

.footer-item__image--youtube {
  border-radius: 50%;
  color: #333333;
  height: 1.2781rem;
  width: 0.8994rem;
}

.footer__legal {
  height: 3rem;
  background-color: #333333;
  color: #ffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 6.75rem;
}

.footer__legal-docs {
  height: 1.3125rem;
  width: 6.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 11.25rem;
  gap: 2.25rem;
}

.splide__list {
  width: 20vw;
  max-height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.splide__slide {
  background-image: url("../img/Rectangle 14.svg");
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
/*# sourceMappingURL=footer.css.map */