.newsletter__form {
  width: 43.5rem;
  height: 4rem;
  margin-top: 3.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.25rem;
  background: #fefefe;
  border: 0.0625rem solid #fefefe;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  border-radius: 0.75rem;
}

.newsletter__input {
  height: 4rem;
  width: 43.5rem;
  background-color: transparent;
  border: 0 solid;
  outline: none;
  margin-left: 1.25rem;
}
/*# sourceMappingURL=forms.css.map */