.navigation {
  background-color: #87de87;
  height: 15rem;
  width: 100vw;
}

@media (min-width: 1440px) {
  .navigation {
    height: 6rem;
  }
}

.navigation__content {
  width: 100vw;
  height: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (min-width: 1440px) {
  .navigation__content {
    height: 7rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.navigation__logo {
  background-color: #ffff;
  height: 12rem;
  width: 37em;
  position: relative;
}

@media (min-width: 1440px) {
  .navigation__logo {
    height: 2.625rem;
    width: 6.5rem;
    top: -0.625rem;
    left: 3rem;
  }
}

.navigation__logo-text {
  font-size: 10rem;
  top: -5rem;
  position: relative;
  text-align: center;
}

@media (min-width: 1440px) {
  .navigation__logo-text {
    font-size: 1.725rem;
    bottom: 0.375rem;
    top: -0.3rem;
    position: relative;
    text-align: center;
  }
}

.hamburger {
  display: block;
  height: 9rem;
  font-size: 8rem;
  margin-top: 3rem;
  border-style: none;
}

@media (min-width: 1440px) {
  .hamburger {
    display: none;
  }
}

.nav__overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navigation__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 0%;
  height: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  background-color: #ffff;
}

@media (min-width: 1440px) {
  .navigation__links {
    display: none;
  }
}

.navigation__links-desktop {
  display: none;
}

@media (min-width: 1440px) {
  .navigation__links-desktop {
    display: block;
    margin-right: 3rem;
  }
}

.nav__item {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  font-size: 1.125rem;
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

.nav__item:hover {
  color: #ffff;
}

.navigation__button {
  margin-left: 0.75rem;
  background-color: #ffff;
  border: none;
  color: #000;
  padding: 0.938rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.125rem;
  font-weight: bold;
  cursor: pointer;
}

.navigation__button:hover {
  background-color: #b3ffb3;
}
/*# sourceMappingURL=navigation.css.map */