@import "../abstracts/variables";
@import "../abstracts/mixins";
body {
    width: 100vw;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

//
//HERO SECTION
//

.hero-section__background-image {
    height: 125rem;
    width: 100vw;
    background-image: url("../img/windturbines.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 20rem;
    @include desktop {
        height: 40rem;
        width: 100vw;
        margin-bottom: 0;
        background-size: cover;
    }
}

.section__hero-text {
    height: 14.25rem;
    width: 100vw;
    background-color: $green;
    align-self: flex-end;
    box-sizing: border-box;
    position: relative;
    top: 14rem;
    padding-bottom: 45rem;
    @include desktop {
        height: 14.25rem;
        width: 37.1875rem;
        background-color: $green;
        margin: 1.25rem;
        margin-top: 0rem;
        padding-left: 2rem;
        margin-left: 12.25rem;
        padding-bottom: 0rem;
        align-self: center;
        box-sizing: content-box;
        top: 0;
    }
}

.section__hero-title {
    text-align: center;
    font-size: 6rem;
    color: #ffff;
    background-color: $gray;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 8rem;
    padding-bottom: 1.99rem;
    @include desktop {
        text-align: left;
        font-size: 3rem;
        color: #ffff;
        background-color: $gray;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 2rem;
        padding-bottom: 0.9rem;
        padding-left: 1.5rem;
        padding-right: 21.8125rem;
    }
}
.section__hero-paragraph {
    font-size: 4rem;
    color: #ffff;
    background-color: $gray;
    margin-top: 0rem;
    margin-bottom: 0;
    padding-left: 1.5rem;
    padding-bottom: 4.125rem;
    padding-right: 1.1875rem;
    padding-top: 2.75rem;
    @include desktop {
        font-size: 1.125rem;
        color: #ffff;
        background-color: $gray;
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 1.5rem;
        padding-bottom: 2.125rem;
        padding-right: 1.1875rem;
        padding-top: 0.75rem;
    }
}

//
//CARD SECTION
//

.card-section {
    @include desktop {
        height: 45.625rem;
    }
}
.card-section__title {
    font-size: 6rem;
    text-align: center;
    margin-top: 7.5rem;
    @include desktop {
        font-size: 3rem;
        text-align: center;
        margin-top: 7.5rem;
    }
}

.card-section__content {
    margin-top: 14vh;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    gap: 14vh;

    @include desktop {
        margin-top: 5.375rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        gap: 0.75rem;
        margin-left: 6.75rem;
        margin-right: 6.75rem;
    }
}

.card {
    width: 80vw;
    background-color: $gray;
    color: #ffff;
    @include desktop {
        height: 21.75rem;
        width: 34.5rem;
        background-color: $gray;
        color: #ffff;
    }
}

.card-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include desktop {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
}

.icon-background {
    background-color: $green;
    width: 15vw;
    height: 15vh;
    border-radius: 50%;
    margin-top: -7vh;
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    @include desktop {
        background-color: $green;
        width: 7.5rem;
        height: 7.5rem;
        border-radius: 50%;
        margin-top: 2rem;
        margin-left: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: none;
    }
}
.card__image {
    width: 70%;
    height: 70%;
}
.title-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    @include desktop {
        margin-top: 3.6875rem;
        margin-left: 1.5rem;
    }
}

.card__title {
    font-size: 6rem;
    margin-top: 0;
    text-align: center;
    @include desktop {
        font-size: 1.5rem;
        margin-top: 0;
    }
}
.card__subtitle {
    font-size: 6rem;
    font-style: italic;
    align-self: center;
    margin-top: 0.625rem;
    @include desktop {
        font-size: 1.5rem;
        font-style: italic;
        align-self: center;
        margin-top: 0.625rem;
    }
}
.card__text {
    font-size: 4.125rem;
    margin-top: 3.0625rem;
    margin-left: 1.5rem;
    @include desktop {
        font-size: 1.125rem;
        margin-top: 1.0625rem;
        margin-left: 1.5rem;
    }
}

//
//TEXT WITH IMAGE SECTION
//

.text-with-image__section {
    background-color: $gray;
    color: #ffff;
    @include desktop {
        height: 99.3125rem;
        background-color: $gray;
        color: #ffff;
    }
}
.text-with-image__content {
    //  display: grid;
    //  grid-template-rows: repeat(2, 1fr);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include desktop {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        height: 71.375rem;
    }
}
.text-with-image__title {
    text-align: center;
    font-size: 6rem;
    padding-top: 4rem;
    @include desktop {
        text-align: center;
        font-size: 3rem;
        padding-top: 4rem;
    }
}
.text-with-image__subtitle {
    font-size: 4rem;
    text-align: center;
    @include desktop {
        font-size: 2.25rem;
        text-align: left;
    }
}

.text-with-image__item {
    display: flex;
    flex-direction: column;
    position: relative;
    @include desktop {
        display: flex;
        flex-direction: row;
        gap: 5.25rem;
        left: 6.1875rem;
        position: relative;
    }
}
.text-with-image__item--reverse {
    display: flex;
    gap: 5.25rem;
    flex-direction: column;
    position: relative;
    order: 3;
    @include desktop {
        display: flex;
        gap: 5.25rem;
        flex-direction: row-reverse;
        right: 6.1875rem;
        position: relative;
    }
}

.text-with-image__text {
    width: 80vw;
    font-size: 5rem;
    align-self: center;
    order: 2;
    @include desktop {
        width: 43.5rem;
        height: 23.8125rem;
        align-self: none;
        font-size: 1rem;
    }
}

.text-with-image__image {
    height: 60vh;
    width: 100vw;
    background-color: $green;
    padding-bottom: 2vh;
    @include desktop {
        height: 30rem;
        width: 41.5rem;
        background-color: $green;
        padding-right: 2rem;
        padding-bottom: 0;
    }
}

.text-with-image__image--reverse {
    height: 60vh;
    width: 100vw;
    background-color: $green;
    padding-bottom: 2vh;
    order: 1;
    @include desktop {
        align-self: reverse;
        height: 30rem;
        width: 41.5rem;
        background-color: $green;
        padding-left: 2rem;
        padding-bottom: 0;
    }
}

.text-with-image__button {
    display: flex;
    justify-content: center;
    margin-top: 3.3125rem;
    order: 3;
    display: none;
    @include desktop {
        display: flex;
        justify-content: center;
        margin-top: 3.3125rem;
    }
}
.button {
    width: 16.5rem;
    height: 4.5rem;
    border-radius: 0.75rem;
    background-color: $green;
    border: none;
    color: #000;
    //  padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.125rem;
    font-weight: bold;
    //margin: 4px 2px;
    cursor: pointer;
}
.button:hover {
    background-color: #ffff;
}

//
//NEWSLETTER SECTION
//

.newsletter-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    @include desktop {
        padding-bottom: 2rem;
    }
}
.newsletter__title {
    font-size: 6rem;
    @include desktop {
        font-size: 3rem;
    }
}
.newsletter__title-mobile {
    font-size: 6rem;
    @include desktop {
        display: none;
    }
}
.newsletter__text {
    width: 52.5rem;
    font-size: 1.5rem;
    text-align: center;
}
