body {
  width: 100vw;
  height: 100vh;
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hero-section__background-image {
  height: 100rem;
  width: 100vw;
  background-image: url("../img/windturbines.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1440px) {
  .hero-section__background-image {
    height: 40rem;
    width: 100vw;
  }
}

.section__hero-text {
  height: 14.25rem;
  width: 37.1875rem;
  background-color: #87de87;
  margin: 1.25rem;
  margin-top: 0rem;
  padding-left: 2rem;
  margin-left: 12.25rem;
}

.section__hero-title {
  font-size: 3rem;
  color: #ffff;
  background-color: #333333;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 2rem;
  padding-bottom: 0.75rem;
  padding-left: 1.5rem;
  padding-right: 21.8125rem;
}

.section__hero-paragraph {
  font-size: 1.125rem;
  color: #ffff;
  background-color: #333333;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 1.5rem;
  padding-bottom: 2.125rem;
  padding-right: 1.1875rem;
  padding-top: 0.75rem;
}

.card-section {
  height: 45.625rem;
}

.card-section__title {
  font-size: 3rem;
  text-align: center;
  margin-top: 7.5rem;
}

.card-section__content {
  margin-top: 5.375rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.75rem;
  margin-left: 6.75rem;
  margin-right: 6.75rem;
}

.card {
  height: 21.75rem;
  width: 34.5rem;
  background-color: #333333;
  color: #ffff;
}

.card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.icon-background {
  background-color: #87de87;
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 50%;
  margin-top: 2rem;
  margin-left: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__image {
  width: 70%;
  height: 70%;
}

.title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 3.6875rem;
  margin-left: 1.5rem;
}

.card__title {
  font-size: 1.5rem;
  margin-top: 0;
}

.card__subtitle {
  font-size: 1.5rem;
  font-style: italic;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 0.625rem;
}

.card__text {
  font-size: 1.125rem;
  margin-top: 1.0625rem;
  margin-left: 1.5rem;
}

.text-with-image__section {
  height: 99.3125rem;
  background-color: #333333;
  color: #ffff;
}

.text-with-image__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 71.375rem;
}

.text-with-image__title {
  text-align: center;
  font-size: 3rem;
  padding-top: 4rem;
}

.text-with-image__subtitle {
  font-size: 2.25rem;
}

.text-with-image__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5.25rem;
  left: 6.1875rem;
  position: relative;
}

.text-with-image__item--reverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5.25rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  right: 6.1875rem;
  position: relative;
}

.text-with-image__text {
  width: 43.5rem;
  height: 23.8125rem;
}

.text-with-image__image {
  height: 30rem;
  width: 41.5rem;
  background-color: #87de87;
  padding-right: 2rem;
}

.text-with-image__image--reverse {
  -ms-flex-item-align: reverse;
      -ms-grid-row-align: reverse;
      align-self: reverse;
  height: 30rem;
  width: 41.5rem;
  background-color: #87de87;
  padding-left: 2rem;
}

.text-with-image__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3.3125rem;
}

.button {
  width: 16.5rem;
  height: 4.5rem;
  border-radius: 0.75rem;
  background-color: #87de87;
  border: none;
  color: #000;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.125rem;
  font-weight: bold;
  cursor: pointer;
}

.button:hover {
  background-color: #ffff;
}

.newsletter-section {
  height: 32.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.newsletter__title {
  font-size: 3rem;
}

.newsletter__text {
  width: 52.5rem;
  font-size: 1.5rem;
  text-align: center;
}
/*# sourceMappingURL=home.css.map */