@import "../abstracts/variables";

//NAVIGATION

.navigation__links .close__button {
    font-size: 5rem;
    height: 10rem;
    width: 10rem;
    margin-right: 5rem;
    border-style: none;
    background-color: #fefefe;
    align-self: flex-end;
}

//NEWSLETTER
.newsletter__button {
    width: 7.5rem;
    height: 3rem;
    border-radius: 0.75rem;
    margin-right: 0.5rem;
    background-color: $green;
    border: none;
    color: #000;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.125rem;
    font-weight: bold;
    cursor: pointer;
}
.newsletter__button:hover {
    background-color: #fefefe;
}
