.navigation__links .close__button {
  top: 20px;
  right: 45px;
  font-size: 3.75rem;
}

.newsletter__button {
  width: 7.5rem;
  height: 3rem;
  border-radius: 0.75rem;
  margin-right: 0.5rem;
  background-color: #87de87;
  border: none;
  color: #000;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.125rem;
  font-weight: bold;
  cursor: pointer;
}

.newsletter__button:hover {
  background-color: #fefefe;
}
/*# sourceMappingURL=buttons.css.map */