@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
//FONT
$text__font: Raleway;

html {
    font-size: calc(16 / 1920 * 100vw);
}

body {
    
    font-family: $text__font;
}
