@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
html {
  font-size: calc(16 / 1920 * 100vw);
}

body {
  font-family: Raleway;
}

.navigation {
  background-color: #87de87;
  height: 15rem;
  width: 100vw;
}

@media (min-width: 1440px) {
  .navigation {
    height: 6rem;
  }
}

.navigation__content {
  width: 100vw;
  height: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (min-width: 1440px) {
  .navigation__content {
    height: 7rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.navigation__logo {
  background-color: #ffff;
  height: 12rem;
  width: 37em;
  position: relative;
}

@media (min-width: 1440px) {
  .navigation__logo {
    height: 2.625rem;
    width: 6.5rem;
    top: -0.625rem;
    left: 3rem;
  }
}

.navigation__logo-text {
  font-size: 10rem;
  top: -5rem;
  position: relative;
  text-align: center;
}

@media (min-width: 1440px) {
  .navigation__logo-text {
    font-size: 1.725rem;
    bottom: 0.375rem;
    top: -0.3rem;
    position: relative;
    text-align: center;
  }
}

.hamburger {
  display: block;
  background-color: #ffff;
  height: 9rem;
  font-size: 8rem;
  margin-top: 3rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-style: none;
}

@media (min-width: 1440px) {
  .hamburger {
    display: none;
  }
}

.nav__overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 3rem;
}

.navigation__links {
  width: 0%;
  height: 100%;
  position: fixed;
  z-index: 2;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0%;
  background-color: #ffff;
}

@media (min-width: 1440px) {
  .navigation__links {
    display: none;
  }
}

.navigation__curtain {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 5rem;
  width: 100%;
  text-align: center;
}

.navigation__links-desktop {
  display: none;
}

@media (min-width: 1440px) {
  .navigation__links-desktop {
    display: block;
    margin-right: 3rem;
  }
}

.nav__item {
  font-size: 7.125rem;
}

@media (min-width: 1440px) {
  .nav__item {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    font-size: 1.125rem;
    color: #000;
    font-weight: bold;
    text-decoration: none;
  }
}

.nav__item:hover {
  color: #ffff;
}

.navigation__button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 32rem;
  background-color: #87de87;
  border: none;
  color: #000;
  padding: 0.938rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 4rem;
  font-weight: bold;
  cursor: pointer;
}

@media (min-width: 1440px) {
  .navigation__button {
    margin-left: 0.75rem;
    background-color: #ffff;
    border: none;
    color: #000;
    padding: 0.938rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.125rem;
    font-weight: bold;
    cursor: pointer;
  }
}

.navigation__button:hover {
  background-color: #b3ffb3;
}

.footer__contact {
  background-color: #87de87;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1440px) {
  .footer__contact {
    background-color: #87de87;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 26.5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.footer__logo {
  background-color: #ffff;
  height: 6.5rem;
  width: 25vw;
  position: relative;
}

@media (min-width: 1440px) {
  .footer__logo {
    background-color: #ffff;
    height: 4.8781rem;
    width: 13.9375rem;
    position: relative;
    margin-top: 3rem;
    margin-left: 6.75rem;
  }
}

.footer__logo-text {
  font-size: 8rem;
  top: -7rem;
  position: relative;
  text-align: center;
}

@media (min-width: 1440px) {
  .footer__logo-text {
    font-size: 3.75rem;
    top: -1.5625rem;
    position: relative;
    text-align: center;
  }
}

.footer__content {
  width: 90%;
  margin-top: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 4rem;
  gap: 10vh;
}

@media (min-width: 1440px) {
  .footer__content {
    width: 90%;
    margin-top: 2.5625rem;
    margin-left: 6.75rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 1.125rem;
    gap: 0;
  }
}

.contact__title {
  text-align: center;
}

@media (min-width: 1440px) {
  .contact__title {
    font-weight: bold;
    margin-bottom: 0.625rem;
    text-align: left;
  }
}

.contact__text {
  margin-bottom: 0.625rem;
  text-align: center;
}

@media (min-width: 1440px) {
  .contact__text {
    margin-bottom: 0.625rem;
  }
}

.contact__text--email {
  margin-top: 8;
  margin-bottom: 0.625rem;
}

.contact__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1.125rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2rem;
}

@media (min-width: 1440px) {
  .contact__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0.75rem;
    margin-top: 1.125rem;
    -webkit-box-pack: baseline;
        -ms-flex-pack: baseline;
            justify-content: baseline;
  }
}

.footer-item__link {
  background-color: #333333;
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 5rem;
}

@media (min-width: 1440px) {
  .footer-item__link {
    background-color: #333333;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 0rem;
  }
}

.footer-item__image--facebook {
  border-radius: 50%;
  color: #333333;
  height: 5rem;
  width: 5rem;
}

@media (min-width: 1440px) {
  .footer-item__image--facebook {
    border-radius: 50%;
    color: #333333;
    height: 1.1525rem;
    width: 0.5381rem;
  }
}

.footer-item__image--twitter {
  border-radius: 50%;
  color: #333333;
  height: 5rem;
  width: 5rem;
}

@media (min-width: 1440px) {
  .footer-item__image--twitter {
    border-radius: 50%;
    color: #333333;
    height: 1.0769rem;
    width: 0.9231rem;
  }
}

.footer-item__image--linkedin {
  color: #333333;
  height: 5rem;
  width: 5rem;
}

@media (min-width: 1440px) {
  .footer-item__image--linkedin {
    border-radius: 50%;
    color: #333333;
    height: 0.9225rem;
    width: 0.9263rem;
  }
}

.footer-item__image--youtube {
  color: #333333;
  height: 5rem;
  width: 5rem;
}

@media (min-width: 1440px) {
  .footer-item__image--youtube {
    border-radius: 50%;
    color: #333333;
    height: 1.2781rem;
    width: 0.8994rem;
  }
}

.footer__legal {
  background-color: #333333;
  color: #ffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3rem;
  gap: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media (min-width: 1440px) {
  .footer__legal {
    background-color: #333333;
    color: #ffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 6.75rem;
    margin-bottom: 0rem;
  }
}

.footer__legal-docs {
  background-color: #333333;
  width: 6.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 1440px) {
  .footer__legal-docs {
    width: 6.625rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-right: 20rem;
    gap: 2.25rem;
  }
}

.splide__list {
  width: 20vw;
  max-height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.splide__slide {
  background-image: url("../img/Rectangle 14.svg");
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.newsletter__form {
  width: 43.5rem;
  margin-top: 3.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.25rem;
  background: #fefefe;
  border: 0.0625rem solid #fefefe;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  border-radius: 0.75rem;
  margin-bottom: 5rem;
}

.newsletter__input {
  width: 43.5rem;
  background-color: transparent;
  border: 0 solid;
  outline: none;
  margin-left: 1.25rem;
}

.navigation__links .close__button {
  font-size: 5rem;
  height: 10rem;
  width: 10rem;
  margin-right: 5rem;
  border-style: none;
  background-color: #fefefe;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.newsletter__button {
  width: 7.5rem;
  height: 3rem;
  border-radius: 0.75rem;
  margin-right: 0.5rem;
  background-color: #87de87;
  border: none;
  color: #000;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.125rem;
  font-weight: bold;
  cursor: pointer;
}

.newsletter__button:hover {
  background-color: #fefefe;
}

.splide__image img {
  width: 100%;
  height: auto;
}

.splide__list {
  width: 90vw;
  height: 50vh;
}

body {
  width: 100vw;
  height: 100vh;
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hero-section__background-image {
  height: 125rem;
  width: 100vw;
  background-image: url("../img/windturbines.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 20rem;
}

@media (min-width: 1440px) {
  .hero-section__background-image {
    height: 40rem;
    width: 100vw;
    margin-bottom: 0;
    background-size: cover;
  }
}

.section__hero-text {
  height: 14.25rem;
  width: 100vw;
  background-color: #87de87;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  top: 14rem;
  padding-bottom: 45rem;
}

@media (min-width: 1440px) {
  .section__hero-text {
    height: 14.25rem;
    width: 37.1875rem;
    background-color: #87de87;
    margin: 1.25rem;
    margin-top: 0rem;
    padding-left: 2rem;
    margin-left: 12.25rem;
    padding-bottom: 0rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    top: 0;
  }
}

.section__hero-title {
  text-align: center;
  font-size: 6rem;
  color: #ffff;
  background-color: #333333;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 8rem;
  padding-bottom: 1.99rem;
}

@media (min-width: 1440px) {
  .section__hero-title {
    text-align: left;
    font-size: 3rem;
    color: #ffff;
    background-color: #333333;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 2rem;
    padding-bottom: 0.9rem;
    padding-left: 1.5rem;
    padding-right: 21.8125rem;
  }
}

.section__hero-paragraph {
  font-size: 4rem;
  color: #ffff;
  background-color: #333333;
  margin-top: 0rem;
  margin-bottom: 0;
  padding-left: 1.5rem;
  padding-bottom: 4.125rem;
  padding-right: 1.1875rem;
  padding-top: 2.75rem;
}

@media (min-width: 1440px) {
  .section__hero-paragraph {
    font-size: 1.125rem;
    color: #ffff;
    background-color: #333333;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 1.5rem;
    padding-bottom: 2.125rem;
    padding-right: 1.1875rem;
    padding-top: 0.75rem;
  }
}

@media (min-width: 1440px) {
  .card-section {
    height: 45.625rem;
  }
}

.card-section__title {
  font-size: 6rem;
  text-align: center;
  margin-top: 7.5rem;
}

@media (min-width: 1440px) {
  .card-section__title {
    font-size: 3rem;
    text-align: center;
    margin-top: 7.5rem;
  }
}

.card-section__content {
  margin-top: 14vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 14vh;
}

@media (min-width: 1440px) {
  .card-section__content {
    margin-top: 5.375rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 0.75rem;
    margin-left: 6.75rem;
    margin-right: 6.75rem;
  }
}

.card {
  width: 80vw;
  background-color: #333333;
  color: #ffff;
}

@media (min-width: 1440px) {
  .card {
    height: 21.75rem;
    width: 34.5rem;
    background-color: #333333;
    color: #ffff;
  }
}

.card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 1440px) {
  .card-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.icon-background {
  background-color: #87de87;
  width: 15vw;
  height: 15vh;
  border-radius: 50%;
  margin-top: -7vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1440px) {
  .icon-background {
    background-color: #87de87;
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 50%;
    margin-top: 2rem;
    margin-left: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: none;
        align-self: none;
  }
}

.card__image {
  width: 70%;
  height: 70%;
}

.title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 4rem;
}

@media (min-width: 1440px) {
  .title-wrapper {
    margin-top: 3.6875rem;
    margin-left: 1.5rem;
  }
}

.card__title {
  font-size: 6rem;
  margin-top: 0;
  text-align: center;
}

@media (min-width: 1440px) {
  .card__title {
    font-size: 1.5rem;
    margin-top: 0;
  }
}

.card__subtitle {
  font-size: 6rem;
  font-style: italic;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 0.625rem;
}

@media (min-width: 1440px) {
  .card__subtitle {
    font-size: 1.5rem;
    font-style: italic;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-top: 0.625rem;
  }
}

.card__text {
  font-size: 4.125rem;
  margin-top: 3.0625rem;
  margin-left: 1.5rem;
}

@media (min-width: 1440px) {
  .card__text {
    font-size: 1.125rem;
    margin-top: 1.0625rem;
    margin-left: 1.5rem;
  }
}

.text-with-image__section {
  background-color: #333333;
  color: #ffff;
}

@media (min-width: 1440px) {
  .text-with-image__section {
    height: 99.3125rem;
    background-color: #333333;
    color: #ffff;
  }
}

.text-with-image__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1440px) {
  .text-with-image__content {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 71.375rem;
  }
}

.text-with-image__title {
  text-align: center;
  font-size: 6rem;
  padding-top: 4rem;
}

@media (min-width: 1440px) {
  .text-with-image__title {
    text-align: center;
    font-size: 3rem;
    padding-top: 4rem;
  }
}

.text-with-image__subtitle {
  font-size: 4rem;
  text-align: center;
}

@media (min-width: 1440px) {
  .text-with-image__subtitle {
    font-size: 2.25rem;
    text-align: left;
  }
}

.text-with-image__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

@media (min-width: 1440px) {
  .text-with-image__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 5.25rem;
    left: 6.1875rem;
    position: relative;
  }
}

.text-with-image__item--reverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5.25rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

@media (min-width: 1440px) {
  .text-with-image__item--reverse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 5.25rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    right: 6.1875rem;
    position: relative;
  }
}

.text-with-image__text {
  width: 80vw;
  font-size: 5rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

@media (min-width: 1440px) {
  .text-with-image__text {
    width: 43.5rem;
    height: 23.8125rem;
    -ms-flex-item-align: none;
        -ms-grid-row-align: none;
        align-self: none;
    font-size: 1rem;
  }
}

.text-with-image__image {
  height: 60vh;
  width: 100vw;
  background-color: #87de87;
  padding-bottom: 2vh;
}

@media (min-width: 1440px) {
  .text-with-image__image {
    height: 30rem;
    width: 41.5rem;
    background-color: #87de87;
    padding-right: 2rem;
    padding-bottom: 0;
  }
}

.text-with-image__image--reverse {
  height: 60vh;
  width: 100vw;
  background-color: #87de87;
  padding-bottom: 2vh;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media (min-width: 1440px) {
  .text-with-image__image--reverse {
    -ms-flex-item-align: reverse;
        -ms-grid-row-align: reverse;
        align-self: reverse;
    height: 30rem;
    width: 41.5rem;
    background-color: #87de87;
    padding-left: 2rem;
    padding-bottom: 0;
  }
}

.text-with-image__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3.3125rem;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  display: none;
}

@media (min-width: 1440px) {
  .text-with-image__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 3.3125rem;
  }
}

.button {
  width: 16.5rem;
  height: 4.5rem;
  border-radius: 0.75rem;
  background-color: #87de87;
  border: none;
  color: #000;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.125rem;
  font-weight: bold;
  cursor: pointer;
}

.button:hover {
  background-color: #ffff;
}

.newsletter-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1440px) {
  .newsletter-section {
    padding-bottom: 2rem;
  }
}

.newsletter__title {
  font-size: 6rem;
}

@media (min-width: 1440px) {
  .newsletter__title {
    font-size: 3rem;
  }
}

.newsletter__title-mobile {
  font-size: 6rem;
}

@media (min-width: 1440px) {
  .newsletter__title-mobile {
    display: none;
  }
}

.newsletter__text {
  width: 52.5rem;
  font-size: 1.5rem;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */